* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background-color: #021a58;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
}

nav a,
.nav-item a {
  color: white;
  text-decoration: none;
}

.nav-item a {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.navbar .nav-link {
  margin-left: 10px;
}

.fa-bars {
  color: #007bff;
  font-size: 30px;
}

#home{
    background-color: #17359B;
    height: 100vh;
}

.home-content{
    margin-top: 50px;
}

.btn-gradient{
    width: 160px;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    background-image: -webkit-linear-gradient(50deg, #28BCFD 20%, #1D78FF 51%, #28BCFD 90%);
    background-image: -moz-linear-gradient(50deg, #28BCFD 20%, #1D78FF 51%, #28BCFD 90%);
    background-image: -o-linear-gradient(50deg, #28BCFD 20%, #1D78FF 51%, #28BCFD 90%);
    background-image: linear-gradient(40deg, #28BCFD 20%, #1D78FF 51%, #28BCFD 90%);
    background-position: left center;
    -webkit-background-size: 200% auto;
    background-size: 200% auto;
    border: 0;
    color: #FFFFFF;
}

.home-content h1{
    font-size: 50px;
    color: white;
}

.home-content p{
    color: white;
    font-size: 19px;
    font-weight: bold;
}

.home-img{
    margin-top: 120px;
}

/* About */
#about{
    height: 90vh;
    background-color: #C2DCEB;
}

.title{
    color: #161616;
}

.about-content{
    margin-top: 100px;
}

.defi{
    margin-top: -15px;
}

.digital{
    margin-top: 50px;
}

.about-content p{
    text-align: center;
    color: #3F3F3F;
}

/* Problem */
#problem{
    height: 190vh;
    background-color: #17359B;
}

.problem-title{
    padding-top: 100px;
}

.problem-title h2{
    color: white;
}

.problem-title span{
    font-weight: bold;
}

.problem-content h3{
    color: white;
}

.problem-content p{
    font-size: 16px;
    color: #C7B8FF;
}

.sol{
    margin-top: 100px;
}

#white{
    background-color: #C2DCEB;
    height: 130vh;
}

#white .about-image img{
    width: 450px;
}

.paper{
    margin-top: 100px;
}

.whitepaper-content h2{
    font-size: 24px;
    color: #161616;
}

#roadmap{
    height: 80vh;
    background-color: #17359B;
}

.roadmap-title{
    padding-top: 100px;
}

.roadmap-title h2{
    font-size: 35px;
    color: #161616;
    text-align: center;
    color: white;
}

.roadmap-title p{
    text-align: center;
    color: white;
    padding-top: 25px;
}